In [2]:
import pandas as pd
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine
from flask import Flask, jsonify, render_template
from flask_sqlalchemy import SQLAlchemy

from sqlalchemy import create_engine
listofshapes=[]
listofstates=[]

In [5]:
 engine =create_engine('sqlite:///UFO_db')
 

listofCSVs=['nuforc_reports.csv','uscitiesv1.5.csv']

In [39]:
    df = pd.read_csv('nuforc_reports.csv')
    dfu=df.dropna()
    dfu.to_sql("UFO_DB",con=engine, if_exists='replace')
    dfu.tail()

,summary,city,state,date_time,shape,duration,stats,report_link,text,posted,city_latitude,city_longitude
112090,Unsure of object. ((NUFORC Note: Probable si...,Brandon,SD,2017-01-18T20:28:00,other,35 minutes,Occurred : 1/18/2017 20:28 (Entered as : 0118...,http://www.nuforc.org/webreports/132/S132223.html,Unsure of object. Object has been staying in o...,2017-01-19T00:00:00,43.587300,-96.602900
112091,"Triangle light form, silent, slow and strange",Truro,NS,2017-01-18T21:50:00,triangle,1-2 minutes,Occurred : 1/18/2017 21:50 (Entered as : 1/18...,http://www.nuforc.org/webreports/132/S132226.html,"Triangle light form, silent, slow and strange ...",2017-01-19T00:00:00,45.374895,-63.255114
112092,Triangle Shaped Dark Craft w/ 3 lights in the ...,Chicago,IL,2017-01-18T22:30:00,triangle,30 seconds,Occurred : 1/18/2017 22:30 (Entered as : 01/1...,http://www.nuforc.org/webreports/132/S132233.html,Triangle Shaped Dark Craft w/ 3 lights in the ...,2017-01-19T00:00:00,41.879912,-87.668018
112093,Green lights in chevron form flying over Fort ...,Fort Collins,CO,2017-01-18T23:30:00,chevron,5-10 seconds,Occurred : 1/18/2017 23:30 (Entered as : 01/1...,http://www.nuforc.org/webreports/132/S132232.html,Green lights in Chevron form flying over Fort ...,2017-01-19T00:00:00,40.550698,-105.077295
112094,Interesting sighting over Uptown Minneapolis.,Minneapolis,MN,2017-01-19T02:28:00,cigar,30 minutes,Occurred : 1/19/2017 02:28 (Entered as : 01/1...,http://www.nuforc.org/webreports/132/S132234.html,Interesting sighting over Uptown Minneapolis. ...,2017-01-19T00:00:00,44.980783,-93.293308

In [40]:
len(dfu)

83124

In [19]:
print(dfu.describe())

       city_latitude  city_longitude
count   83124.000000    83124.000000
mean       38.679068      -95.365643
std         5.766409       18.341659
min       -32.055500     -170.494000
25%        34.179411     -114.290564
50%        39.174503      -89.406950
75%        42.315149      -80.420518
max        64.845276      130.850580

In [37]:
    df1 = pd.read_csv('uscitiesv1.5.csv')
    df1.to_sql("US_Cities",con=engine,if_exists='replace')
    ziplist=['city_ascii','state_name','county_fips','population_proper','population','source','incorporated','timezone','zips','id']
df2=df1.drop(ziplist,axis=1)
    df2.tail()

            city state_id county_name      lat       lng  density
37837   Pierpont       SD         Day  45.4953  -97.8321    321.0
37838  Hill City       SD  Pennington  43.9338 -103.5693    309.0
37839   Stamford       SD     Jackson  43.8950 -101.0890      0.0
37840     Orient       SD       Faulk  44.9017  -99.0888     80.0
37841    Corsica       SD     Douglas  43.4223  -98.4073    267.0

In [38]:
df3=df2.dropna()
print(df3.describe())

                lat           lng       density
count  37842.000000  37842.000000  37842.000000
mean      38.529060    -92.618426    455.511849
std        6.009852     15.542546    750.275250
min       17.712200   -176.629500      0.000000
25%       34.854250    -98.418675     60.500000
50%       39.185450    -90.158800    229.000000
75%       41.910825    -81.766525    541.000000
max       71.290600    178.877500  27799.000000

In [41]:
    listofshapes = dfu['shape'].unique()
    listofstates = dfu['state'].unique()

In [42]:
listofshapes

array(['light', 'circle', 'unknown', 'changing', 'oval', 'formation',
       'cone', 'triangle', 'disk', 'sphere', 'rectangle', 'other',
       'delta', 'fireball', 'egg', 'cigar', 'pyramid', 'chevron', 'cross',
       'flash', 'cylinder', 'crescent', 'diamond', 'hexagon', 'teardrop',
       'flare', 'round', 'changed'], dtype=object)

In [9]:
listofstates

array(['OR', 'ME', 'TX', 'FL', 'MT', 'MA', 'CA', 'NJ', 'MD', 'IN', 'MO',
       'AZ', 'HI', 'NY', 'WI', 'CO', 'MI', 'WA', 'OH', 'IL', 'UT', 'ID',
       'TN', 'KY', 'NV', 'SC', 'OK', 'MN', 'VA', 'PA', nan, 'AK', 'WV',
       'CT', 'AR', 'LA', 'SD', 'GA', 'NM', 'BC', 'RI', 'ON', 'ND', 'IA',
       'AL', 'MS', 'KS', 'NC', 'AB', 'VI', 'NH', 'VT', 'PR', 'NE', 'DC',
       'NS', 'MB', 'QC', 'NB', 'WY', 'DE', 'YT', 'SK', 'NT', 'NL', 'PE'],
      dtype=object)