In [2]:
import pandas as pd
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine
from flask import Flask, jsonify, render_template
from flask_sqlalchemy import SQLAlchemy

from sqlalchemy import create_engine
listofshapes=[]
listofstates=[]

In [5]:
 engine =create_engine('sqlite:///UFO_db')
 

listofCSVs=['nuforc_reports.csv','uscitiesv1.5.csv']

In [7]:

    df = pd.read_csv('nuforc_reports.csv')
    
    df.to_sql("UFO_DB",con=engine, if_exists='fail')
    df.tail()

NameError: name 'fail' is not defined

In [15]:
    df1 = pd.read_csv('uscitiesv1.5.csv')
    df1.to_sql("US_Cities",con=engine)
    df1.head()

,city,city_ascii,state_id,state_name,county_fips,county_name,lat,lng,population,population_proper,density,source,incorporated,timezone,zips,id
0,Prairie Ridge,Prairie Ridge,WA,Washington,53053,Pierce,47.1443,-122.1408,NaN,NaN,1349.8,polygon,False,America/Los_Angeles,98360 98391,1840037882
1,Edison,Edison,WA,Washington,53057,Skagit,48.5602,-122.4311,NaN,NaN,127.4,polygon,False,America/Los_Angeles,98232,1840017314
2,Packwood,Packwood,WA,Washington,53041,Lewis,46.6085,-121.6702,NaN,NaN,213.9,polygon,False,America/Los_Angeles,98361,1840025265
3,Wautauga Beach,Wautauga Beach,WA,Washington,53035,Kitsap,47.5862,-122.5482,NaN,NaN,261.7,point,False,America/Los_Angeles,98366,1840037725
4,Harper,Harper,WA,Washington,53035,Kitsap,47.5207,-122.5196,NaN,NaN,342.1,point,False,America/Los_Angeles,98366,1840037659

In [16]:
    listofshapes = df['shape'].unique()
    listofstates = df['state'].unique()

In [8]:
listofshapes

array(['disk', 'teardrop', 'light', 'circle', 'unknown', 'changing',
       'oval', 'formation', 'cone', 'cigar', 'triangle', 'other',
       'sphere', 'egg', 'rectangle', 'fireball', 'delta', 'pyramid',
       'cylinder', 'chevron', nan, 'cross', 'flash', 'crescent',
       'diamond', 'hexagon', 'flare', 'round', 'changed', 'dome'],
      dtype=object)

In [9]:
listofstates

array(['OR', 'ME', 'TX', 'FL', 'MT', 'MA', 'CA', 'NJ', 'MD', 'IN', 'MO',
       'AZ', 'HI', 'NY', 'WI', 'CO', 'MI', 'WA', 'OH', 'IL', 'UT', 'ID',
       'TN', 'KY', 'NV', 'SC', 'OK', 'MN', 'VA', 'PA', nan, 'AK', 'WV',
       'CT', 'AR', 'LA', 'SD', 'GA', 'NM', 'BC', 'RI', 'ON', 'ND', 'IA',
       'AL', 'MS', 'KS', 'NC', 'AB', 'VI', 'NH', 'VT', 'PR', 'NE', 'DC',
       'NS', 'MB', 'QC', 'NB', 'WY', 'DE', 'YT', 'SK', 'NT', 'NL', 'PE'],
      dtype=object)